node_modules
.expo
web-build
dist
.env
.DS_Store
*.log

# Ignore TypeScript compiled output (except babel.config.js)
/*.js
!/babel.config.js
/components/*.js
/services/*.js
/supabase/functions/*/*.js
/src/**/*.js
